<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error" internalLogFile="C://Systemweb/ReportPDFProcessor/SystemError.log">
  <!--throwExceptions = true表示當寫入log發生例外錯誤時，會拋出Exception-->

  <!-- optional, add some variables  https://github.com/nlog/NLog/wiki/Configuration-file#variables  -->
  <variable name="LogPath" value="C://Systemweb/ReportPDFProcessor/${shortdate}"/>
  <variable name="LogFormat" value="[${uppercase:${level}}][${longdate}]${message}"/>
    <!--${newline}-->

  <!--採用非同步(async)提高效能https://blog.yowko.com/nlog-async-keepfileopen/-->
  <targets async="true">
    <target xsi:type="File" name="ErrorLog" fileName="${LogPath}/ErrorLog.txt"
             layout="${LogFormat}"/>
    <target xsi:type="File" name="WarnLog" fileName="${LogPath}/WarnLog.txt"
             layout="${LogFormat}" />
    <target xsi:type="File" name="InfoLog" fileName="${LogPath}/InfoLog.txt"
             layout="${LogFormat}" />
    <target xsi:type="File" name="TraceLog" fileName="${LogPath}/TraceLog.txt"
             layout="${LogFormat}" 
             archiveFileName="${LogPath}/TraceLog_{###}.txt"
             archiveAboveSize="5242880" maxArchiveFiles="100"/>
    <target xsi:type="File" name="DebugLog" fileName="${LogPath}/DebugLog.txt"
             layout="${LogFormat}"
             archiveFileName="${LogPath}/DebugLog_{###}.txt"
             archiveAboveSize="5242880" maxArchiveFiles="100"/>
  </targets>
  <rules>
    <!--Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f" <logger name="*" minlevel="Debug" writeTo="f" /> -->
    <!--<logger name="*" maxlevel="Fatal" minlevel="Error" levels="Trace,Info,Warn,Error,Fatal" writeTo="ErrorLog" />-->
    <logger name="*" level="Error" writeTo="ErrorLog" />
    <logger name="*" level="Error" writeTo="TraceLog" />
    <logger name="*" level="Error" writeTo="DebugLog" />
    <!--<logger name="*" level="Warn" writeTo="WarnLog" />
    <logger name="*" level="Info" writeTo="InfoLog" />-->
    <logger name="*" level="Debug" writeTo="DebugLog" />
    <logger name="*" level="Trace" writeTo="TraceLog" />

    <!--<logger name="*" level="Error" writeTo="eventlog" />
    <logger name="*" level="Warn" writeTo="eventlog" />    
    --><!--<logger name="*" level="Info" writeTo="eventlog" />--><!--    
    <logger name="*" level="Debug" writeTo="eventlog" />
    <logger name="*" level="Trace" writeTo="eventlog" />-->
  </rules>
</nlog>
